@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-image: url("confetti-2.gif");
}

.content {
    background-color: transparent;
    padding: 4rem 1rem 4rem 1rem;
    box-shadow: 0 0 5px 5px #13ffb9;
    width: 50%;
    margin: auto;
    margin-top: 150px;
}

.login-text{
    color: #13ffb9;
    font-weight: 600 !important;
}

.form-control {
    color: #13ffb9;
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-color: #13ffb9 !important;
    border-style: solid !important;
    border-width: 0 0 1px 0 !important;
    padding: 0px !important;
    height: auto;
    border-radius: 0px;
    background-clip: padding-box;
    background-color: transparent;
}

.form-group {
    color: #fff !important;
    font-style: normal;
}

.form-control:focus {
    color: #13ffb9;
    background-color: transparent;
    border-color: #fff;
    outline: 0;
    box-shadow: none;
}

.btn-class {
    border-color: #20c997;
    color:#20c997;
    border-radius: 0;
    background-color: transparent;
}


.btn-class:hover{
    background-color: #20c997;
    color: #fff;
}
